body{
    background-color: rgba(170, 156, 156, 0.479);
}
.card-title{
    color: white;
}
.card-text{
    color: white;
}
#addbtn{
    border-radius: 3px;
    background-color: rgba(59, 58, 58, 0.52);
}
#card{
    align-items: center;
}
#image{
    width: 50px;
    border-radius: 30rem;
}
p{
    color: white;
}
.card-body{
    text-align: center;
}
#search{
    border-color: rgba(248, 0, 0, 0.685);

}